header,	footer,	section, nav, article {
	display: block;
}

body {
	font:	0.8em	Arial, Verdana,	Helvetica, sans-serif;
	line-height: 1.6em;
}

body.bnoir {
	background-color:	#000;
	color: #ffe9fe;
}

body.nuages {
	background: #fff url("images/fond_nuage_blanc3.jpg") repeat-y top left;
}

body.bnuages {
	background: #000 url("images/fond_noir_nuages.jpg") repeat-y top left;
}

section.standalone {
	padding: 0px 6px 0px 13px;
	position:	fixed;
	top: 15px;
	right: 0;
	left: 0;
	background-color:	inherit;
	width: auto;
	overflow: auto;
}

img {
	border: 0px;
}

a	{
	text-decoration: none;
}

#home-main {
	position:absolute;width:600px;height:379px;top:50%;left:50%;margin-left:-300px;margin-top:-220px;z-index: 3;
}
#home-img {
	max-width: 100%;
	height: auto;
}
#home-header {
	position: absolute;
	left: 10%;
	top: 30%;
	z-index: 5;
}
h1.home {
	font-size: 2em;
	color: #7d7072;
	font-weight: normal;
	font-family: Tahoma, Arial;
	text-decoration: none
}

nav.footer {
	display: block;
	clear: both;
	margin: 0px auto;
	padding: 10px 0px 30px 0px;
	text-align: center;
}

nav.header {
	padding: 10px 0px 30px 0px;
}

.nav-header {
	display: inline-block;
	margin: 0px 20px 0px 0px;
}

a.nav-btn, a.nav-btn-bnoir, a.nav-btn-back, a.nav-up, a.nav-up-bnoir, a.nav-btn-close {
	display: inline-block;
	font-size: 2em;
	font-weight: bold;
	padding: 0.5rem 1.3rem 0.8rem 1.2rem;
	margin: 0px;
	color: #fff;
	background-color: #e8e5e5;
	border-radius: 0px 2px 2px 2px;
	border:1px solid #ccc;
	white-space: nowrap;
	overflow: hidden;
	opacity: 1;
	transition: opacity .25s ease;
}

a.nav-btn:hover, a.nav-btn-bnoir:hover, a.nav-btn-back:hover, a.nav-up:hover, a.nav-up-bnoir:hover, a.nav-btn-close:hover {
	opacity: 0.65;
	cursor: pointer;
	text-decoration: none;
	color: #000 !important;
}

a.nav-btn[rel=next] {
	color: #fff;
	/*color: transparent;*/
  /*background: transparent url("/images/fleche_droite4.gif") no-repeat center center;*/
	margin-left: 1rem;
}
a.nav-btn[rel=prev] {
	color: #fff;
	margin-right: 1rem;
}
a.nav-btn-bnoir[rel=prev]  {
	color: #fff;
	background-color: #555;
	margin-right: 1rem;
  /* color: transparent;
	background: transparent url("/images/fleche_gauche1.gif") no-repeat center center;
	margin-right: 25px;*/
}
a.nav-btn-bnoir[rel=next] {
	color: #fff;
	background-color: #555;
	margin-left: 1rem;
}
a.nav-up {
	color: #fff !important;
	margin: 0 1em 0 1em;
	font-weight: normal;
	font-size: 1.8em;
}
a.nav-up-bnoir {
	color: #fff !important;
	font-weight: normal;
	font-size: 1.8em;
	background-color: #555;
	margin: 0 1em 0 1em;
}
a.nav-btn-close {
	display: inline-block;
	width: 20px;
	height: 25px;
  background: transparent url("/images/fermer.png") no-repeat center center;
	text-indent: 100%;
	white-space: nowrap;
}

/*a.tooltip {
  display: inline;
  position: relative;
	font-size: 0.87em;
}
a.tooltip:hover:after{
	position: absolute;
	background: #333;
	background: rgba(0,0,0,.8);
	border-radius: 10px;
	color: #fff;
	padding: 5px 8px;
	z-index: 980;
	width: 18em;
	content: attr(title);
	bottom: 32px;
	left: -15px;
}
a.tooltip[rel=prev].hover:after{
	content: "Article précédent : " attr(title);
}
a.tooltip[rel=next].hover:after{
	content: "Article suivant : " attr(title);
}
a.tooltip:hover:before{
	position: absolute;
	border: solid;
	border-color: #333 transparent;
	border-width: 6px 6px 0 6px;	
	content: "";
	z-index: 990;	
	bottom: 26px;
	left: 10%;
}
.tooltip.nav-prev:hover:before{
}*/

/** COLORS */
.colh1 {
	color: #706761;
}

.colh2 {
	color: #6E4E4E;
}

.colh4 {
	color: #f5c9cf;
}


/** GENERAL */

article {
	margin: 0px;
	padding: 2% 0px 2% 0px;
	clear: both;
}

h1 {
	font-size: 1.7em;
	letter-spacing: 0.06em;
	color: #E1CACD;
	padding: 2px 0px 4% 0px;
	margin: 0px;
/**	text-transform: lowercase; **/
}

h2 {
	font-size: 1.2em;
	letter-spacing: 0.06em;
	color: #606060;
	padding: 3px 0px 3% 0px;
	margin: 0px;
}

h2.nopre {
	padding-top: 0px;
	margin: 0px;
}

h2.section {
	padding: 4% 0px .5% 0px;
	margin: 0px;
}

h3 {
	font-size: 1.2em;
	line-height: 0.9;
	font-weight: bold;
	color: #606060;
	padding: 0px;
	margin: 1% 0px 1% 0px;
	text-transform: lowercase;	
}

h4 {
	font-size: 1.2em;
	line-height: 0.8;
	font-weight: normal
}

.comment {
	font-size: 0.85em;
}

.double {
	padding-top: 18px;
}

.clear {
	clear: both;
}

.interligne-tiret {
	padding-top:41px;
	background:transparent url(/images/interligne-tiret.png) no-repeat center top;
}

.lien, a:link {
	text-decoration: none;
	color: #cc2a14;
}

a:visited {
	text-decoration: none;
	color: #cc2a14;
}

a:hover {
	text-decoration: underline;
	color: #808080;
}

a:active {
	color: #c00000;
}

a.aucune {
	text-decoration: none;
	cursor: default
}


ul.internet {
	overflow: auto;
	list-style-image: url(/images/internet.gif);
}

li {
	margin: 0;
	padding: .7% 0;
}

li.video {
	list-style-image: url(/images/picto_video.gif);
	list-style-position: outside;
}

ul>li.player {
	padding:10px 0px;
}

ul.musique {
	overflow: auto;
	list-style-image: url(/images/cle_sol.gif);
}

ul.diapo {
	overflow: auto;
	list-style-image: url(/images/camera.gif);
}

ul.page {
	overflow: auto;
	list-style-image: url(/images/page.png);
}

ul.divers, ul.two-cols {
	overflow: auto;
	list-style-image: url(/images/rightArrow.png);
	margin: 0;
	padding: 0 0 0 3%;
}
ul.two-cols li {
  float: left;
  width: 50%;	
}

blockquote {
	margin: 0 0 0 3%;
}

.encadre {
	border: 1px solid #d0d0d0;
	padding: 3px 6px 0px 10px;
	margin: 0px 0px 30px 0px;
}

.en-ligne {
	vertical-align: middle;
	padding: 0;
}

/** MULTIMEDIA */

video {  
   width: 100%; 
   /*max-width: 480px;*/
   height: auto;
}


/** FIGURES */

.cimgc {
	text-align: center;
	padding: 0px 0px 0px 0px;
	margin: 2px auto;
}

.cimgr {
	float: right;
	padding: 0px;
	margin: 2px 0px 5px 3%;
}

.cimgr2 {
	float: right;
	padding: 0px;
	margin: 2px 0px 5px 11px;
}

.cimgl {
	float: left;
	padding: 0px;
	margin: 2px 3% 5px 0px;
}

.cimgl2 {
	float: left;
	padding: 0px;
	margin: 2px 10px 5px 0px;
}

figure {
	display: table;
	padding: 0px;
	margin: 0px;
	position: relative;
	z-index: 10;
}
figure>a {
	cursor: url(/images/zoom.cur), -moz-zoom-in;
	text-decoration: none;
	display: table;
}
figure>a:after {
	display: block;
	position: relative;
	width: 100%;
	height: 9px;
	z-index: 11;
	background: transparent url(images/zoom.gif) no-repeat right bottom;
	content: "";
}
figure>img, figure>a>img {
	display: table-cell;
	margin: 0px;
	padding: 0px;
	border: 1px solid #404040;
	vertical-align: middle;
}
figcaption, figure>a[title]:before {
	display: table-caption;
	caption-side: bottom;
	margin: -9px 0px 0px 0px;
	padding: 9px 3px 3px 3px;
	background-color: #e8e5e5;
	color: #000;
	font-size: 0.83em;
	line-height: 1.3em;
	border-radius: 0px 2px 2px 2px;
}
figure>a[title]:before {
	content: attr(title);
}
figcaption.large {
	background-color: inherit;
	color: inherit;
	font-size: 1em;
}

.grey {
	color: #706761 !important;
}

.cimg-line {
	display: inline-block;
	padding: 0px;
	margin: 1% 1%;
	vertical-align: middle;
}

.cimg-line2 {
	display: inline-block;
	padding: 0px;
	margin: 2px 2px 5px 2px;
	vertical-align: middle;
}

.atop {
	vertical-align: top;
}

.cimg-line-container {
	text-align: center;
}

@media screen	and	(max-width:	615px) {
		figure>a>img {
		max-width: 170px;
		height: auto;
	}
}



#modal-overlay {
  z-index: 200;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
	bottom: 0;
}

#modal-content {
  z-index: 210;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	/*overflow-x: hidden;*/
}
#modal-preload {
  z-index: 209;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url('images/preload.gif') no-repeat center center;
}
#modal-nav-prev {
  z-index: 211;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 7%;
	bottom: 0;
	overflow: hidden;
}
#modal-nav-next {
  z-index: 211;
	color: #fff;
	position: fixed;
	top: 0;
	right: 0;
	width: 7%;
	bottom: 0;
	overflow: hidden;
}

.zoom-nav-target {
	opacity: 0.5;
	transition: opacity .2s ease;
}

.zoom-nav-target:hover {
	opacity: 1;
	cursor: pointer;
}

#zoom-nav-prev {
	display: block;
	height: 100%;
	background: url('images/zoom-prev.png') no-repeat center center;
}
#zoom-nav-next {
	display: block;
	height: 100%;
	background: url('images/zoom-next.png') no-repeat center center;
}

#zoom-lnk {
  position: relative;
  display: inline-block;
}

#zoom-lnk:after {
  content: '';
  position: absolute;
	display: inline-block;
	right: -12px;
	left: 0px;
	top: -8px;
	height: 30px;
  /*background: url('/images/fermer.png') no-repeat top right;*/
	z-index: 220;
}

.zoom-table {
	display: table;
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
}
.zoom-cell {
	display: table-cell;
	vertical-align: middle;
}
#zoom-legend {
	position: relative;
	padding: 0;
	width: 100%;
}
#zoom-source {
	/*float: right;*/
	font-size: 0.75em;
	padding: 0px 2px 3px 5px;
	color: #909090;
	margin-top: -3px; 
}
#zoom-comment {
	text-align: center;
	margin:0 auto;
	padding: 0px 4px 5px 5px;
}
#zoom-main-img {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: auto;
	vertical-align: bottom;
	border: 1px solid #404040;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 5px;
}
img#zoom-main-img[src*="pano-"] {
	height: initial;
	width: initial;
	overflow: auto;
}

/** VARIOUS LAYOUTS */

.col-group > div:first-child {
	padding: 0px 30px 0px 0px;
}

@media screen	and	(min-width:	716px) {
	.col-group {
		overflow: hidden;
	}
	.col-group > div {
		float: left;
		width: 47%;
	}
}

.col-2 {
	float: left;
	width: 50%;
}
.col-3 {
	float: left;
	width: 33%;
}
.col-4 {
	float: left;
	width: 25%;
}
.right {
	float: right;
}
.col-67 {
	float: left;
	width: 67%;
}


/** SLIDESHOW VERTICAL */
.ssv-main {
	max-width: 85%;
	clear: both; 
	margin: 0px auto;
	padding-bottom: 30px;
	overflow: auto;
}
.ssv-block {
	clear: both;
	padding: 10px 0 0 0;
	display: block;
	overflow: hidden;
}
.ssv-img {
	float: left;
	max-width: 100%;
	padding-right: 5%;
}
.ssv-imgr {
	float: right;
	max-width: 100%;
	padding-left: 5%;
}
.ssv-txtc {
	text-align: center;
}
.ssv-txt {
	display: inline-block;
}
.ssv-adapt {
	width: 100%;
	height: auto;
	border: 1px solid #404040;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.ppt-txt {
	overflow: hidden;
}
@media screen	and	(max-width:	615px) {
	.ppt-txt {
		display: inline;
	}
}